@model OnTrak.Models.ViewModel.ExerciseViewModel
@using OnTrak.Models.ExtensionMethods
@{
    Layout = "_Layout";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

    <h4>Muscle</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" enctype="multipart/form-data" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.HiddenFor(Id => Model.ExerciseId)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.BodyAreas, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.BodyAreaId,
                        Model.BodyAreas.BAreaToSelectListItem(Model.BodyAreaId),
                       new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.BodyAreaId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.BodyParts, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.BodyPartId,
                        Model.BodyParts.BPartToSelectListItem(Model.BodyPartId),
                       new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.BodyPartId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Muscles, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.MuscleId,
                        Model.Muscles.MuscleToSelectListItem(Model.MuscleId),
                       new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MuscleId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label asp-for="Image" class="control-label"></label>
                    <input type="file" accept="image/*" name="file" multiple />
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a href="@Url.Action("Index", "BodyArea")">Back to List</a>
    </div>

</body>
</html>